body{
    padding: 0;
    margin: 0;
}

.nav-bar{
    background-color: #F5F3F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-name{
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
}
.nav-links1{
    display: flex;
    padding-top: 16px;
}

.nav-links2{
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
}
.nav-links2 :hover{
    background-color: #541174;
    border-radius: 5px;
    color: white;
}
ul {
        list-style-type: none;
        text-decoration-line: none;
}
ul a{
    text-decoration: none;
    justify-content: space-around;
    padding: 10px;
    color: black;
}
.signup{
    background-color:  #541174;
    border-radius: 5px;
    color: white;
}

/* Tablet styles (481px - 768px) */
@media (max-width: 768px) {
    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo-name{
        align-items: center;
    }
    
    .nav-links1{
        /* flex-wrap: nowrap; */
        justify-content: center;
    }
    
    .nav-links2{
        justify-content: center;
    }
    /*media query for footer*/
    .foot-note1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .foot-header{
        justify-content: center;
        align-items: center;
    }
    .foot-note2{
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
    }
    .social-icon{
        padding-left: 0px;
        justify-content: center;
    }
}

/* Mobile styles (up to 480px) */
@media (max-width: 480px) {
    .nav-bar{
        flex-direction: column;
        padding: 10px;
    }
    
    .logo-name{
        padding: 16px;
        text-align: center;
    }
    
    .nav-links1{
        flex-direction: column;
        align-items: center;
        /* gap: 5px; */
    }
    
    .nav-links2{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
    ul a{
        padding: 8px;
        display: inline-block;
        text-align: center;
    }
}
.section1{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    text-align: center;
    padding-top: 0.5rem;
    padding: min(12.5rem, 8%);
    /* padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px; */
    background: white;

}
.section1 h6{
    margin-top: 50px;
    margin-bottom: 0.5rem;
}
.section1 p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.first-header{
    margin: auto;
    align-items: center;
    font-size: medium;
    width: 150px;
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;

}
.growing-skill{
    /* font-size: 80px; */
    font-size: clamp(1.8rem, 10vw, 5rem);
}
.description{
    font-size: 20px;
    /* padding-left: 180px;
    padding-right: 180px; */
}
.btn-started{
    margin: auto;
    background-color: purple;
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin-top: 1rem;
    width: 150px;
    margin-bottom: 0.5rem;
}
.few-numbers{
    background: #F5F3F7;
}

.few-numbers h3{
    text-align: center;
    font-size: clamp(0.5rem, 5vw, 1.878rem);
    font-size: 30px;
}
.achievement{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.achievement p {
    font-size: 0.8rem;
}

.achievement .trophy, .users, .smiley, .brief-case{
    display: flex;
}

.our_story{
    display: flex;
    justify-content: center;
    padding: 50px 150px 50px 150px;
}
.story{
    /* display: flex; */
    padding: 50px 200px 200px 200px;
    /* padding-right: 100px; */
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    /* flex: 1; */  
}

hr {
  border: 0;             /* Remove the default gray shade */
  height: 1px;           /* Control thickness */
  background: #e9e5e5de;      /* Control color */
  width: 100%;            /* Make it shorter than the container */
  margin-inline: auto;   /* Center it (since it's now shorter) */
  margin-block: rem;    /* Add space above and below */
  margin-top: 4rem;
}

.difference{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 14rem;
    padding-right: 14rem;
}
.difference h5{
    font-size: 1rem;
}
.difference p{

    text-align: center;
    padding-bottom: 4rem;

    position: relative;
    width: 60%;          /* Matches your centered box */
    margin-inline: auto;
    border-radius: 20px; /* All 4 corners! */
    overflow: hidden;

}
.scholarship{
    justify-content: center;
    align-items: center;
    align-content: center;
}
img{
    display: inline-block; 
  margin-inline: auto; 
  max-width: 100%;
  padding-top: 2rem;
  border-radius: 10px 10px 10px 10px;
}

.join_our_team{
    display: flex;
    flex: 1;
    padding-left: 15rem;
    padding-right: 15rem;
    gap: 5rem;

}

/*Grow your career*/
.grow-career{
    margin: auto;
    display: flex;
    background-color: #7820b3;
    color: white;
    width: 80%;
    /* align-items: center; */
    border-radius: 10px;
    justify-content: space-around;
}
.grow{
    padding: 20px;
}
.growCareerImage{
    padding: 20px;
}

/*Our Mentors*/
.our-mentors{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 50px 150px;
}

.our-mentors h4{
    font-weight: bold;
    font-size: 30px;
}
.mentor-boxes{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
    margin-bottom: 50px;
}


.mentor-box{
    display: flex;
    width: 200px;
    height: auto;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    color: rgb(97, 92, 92)
}
.mentor-image img{
    border-radius: 50%;
}
.meet-mentors{
    padding-left: 300px;
    padding-right: 300px;
    color: rgb(97, 92, 92)
}
.title{
    color: rgb(149, 83, 235);
    margin-bottom: 10px;
    margin-top: 5px;
}
/*Footer*/
.footer{
    background-color: rgb(24, 24, 36);
    display: flex;
    flex-direction: column;
    color: rgb(175, 203, 212);
}
.foot-note1{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.foot-header{
    padding-right: 200px;
}
.foot-header p{
    padding-right: 100px;
}
.social-link{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-weight: 1.8rem;
    padding: 20px 40px 20px 30px;
}
.foot-note2{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    /* flex: 1; */
    justify-content: space-around;
}
.copyright-message{
    text-align: center;
    align-items: center;
}
.social-icon {
    align-items: center;
}
.social-icon a{
    color: lightskyblue;
    margin: 0 8px;
    font-size: 1.2rem;
    text-decoration: none;
}